/*!
 * Crafted by Hacksaw
 * hacksawstudio.com
 */

/******************************************************************
Site Name:
Author: Hacksaw

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/

/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/

// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/settings";

// Sass functions
@import "partials/functions";

// media query helper
@import "partials/mq";

// the grid
@import "partials/grid";

// typography
@import "partials/typography";

/*********************
IMPORTING MODULES
Modules are reusable blocks or elements we use throughout the project.
We can break them up as much as we want or just keep them all in one.
I mean, you can do whatever you want. The world is your oyster. Unless
you hate oysters, then the world is your peanut butter & jelly sandwich.
*********************/

// forms (inputs & labels)
@import "modules/forms";

// h1-h6
@import "modules/headings";

// navigation
@import "modules/navigation";

/*********************
STYLING STUFF
This is where most of the changes you'll make will go.
*********************/

// body/global style
@import "breakpoints/base";

// wordpress specific styling
@import "breakpoints/wordpress";

// header
@import "breakpoints/header";

// footer
@import "breakpoints/footer";

// page specific content
@import "breakpoints/content";

/*********************
TRUMPS
Override everything else
*********************/

// alert boxes
@import "modules/alerts";

// buttons
@import "modules/buttons";

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {

	// styles in print.scss
	@import "partials/print";

}
