/******************************************************************

Stylesheet: Settings

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;
$meta-gray:         #9fa6b4;

$primary:           #f01d4f;
$secondary:         #2980b9;

$link-color:        $primary;
$link-hover:        darken($secondary, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

/*********************
BREAKPOINTS
*********************/


$mq-responsive: true;

$mq-breakpoints: (
    small-palm:     480px,
    palm:           767px,
    portrait-tab:   1023px,
    tab:            1279px,
    lap:            1439px,
    desk:           1440px,
);

$mq-static-breakpoint: desktop;

// Display breakpoint in top right corner
// $mq-show-breakpoints: (small-palm, palm, portrait-tab, tab, lap, desk);

/*********************
FONTS
*********************/

// font stacks
$body-font:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:            "Georgia", Cambria, Times New Roman, Times, serif;

// Used by typography.scss
$font-breakpoints: (

    small-palm: (
        start: 0,
        end: 480
    ),

    palm: (
        start: 481,
        end: 767
    ),

    portrait-tab: (
        start: 768,
        end: 1023
    ),

    tab: (
        start: 1024,
        end: 1279
    ),

    lap: (
        start: 1280,
        end: 1439
    ),

    desk: (
        start: 1440,
        end: 20000
    ),

);


/*********************
GRID
*********************/

$breakpoints: (
    'small-palm' '(max-width: 480px)',
    'palm' '(min-width: 481px) and (max-width: 767px)',
    'portrait-tab' '(min-width: 768px) and (max-width: 1023px)',
    'tab' '(min-width: 1024px) and (max-width: 1279px)',
    'lap' '(min-width: 1280px) and (max-width: 1439px)',
    'desk' '(min-width: 1440px)'
);

$breakpoint-has-widths: ('small-palm', 'palm', 'portrait-tab', 'tab', 'lap', 'desk');

// enable push/pull classes
$pull: false;
$push: false;
// $breakpoint-has-push: ('small-palm', 'palm', 'portrait-tab', 'tab', 'lap', 'desk');
// $breakpoint-has-pull: ('small-palm', 'palm', 'portrait-tab', 'tab', 'lap', 'desk');

